/********** Template CSS **********/
:root {
    --primary: #F19F1F;
    --secondary: #101010;
    --light: #EEF9FF;
    --dark: #090601;
}


/*** Spinner ***/
.spinner {
    width: 40px;
    height: 40px;
    background: var(--primary);
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
body {
    font-family: 'Montserrat', serif;
}


/*** Heading ***/
h1,
.fw-bold {
    font-weight: 550 !important;
}

h2 {
    font-size: 60px !important;
    font-weight: 550 !important;
}


h3,
h4,
.fw-semi-bold {
    font-weight: 400 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}
a {
    text-decoration: none !important;
    font-weight: 300;
    font-size: medium;
}
a.text-light{
    font-size: 14px !important;
    font-weight: 200;
    font-family: 'Montserrat', serif;
}

p.footer-text{
    font-size: 14px !important;
    font-weight: 200;
    font-family: 'Montserrat', serif;
}

.bottom-footer-link {
    color: var(--light);
    padding-right: 8px;
}
a.bottom-footer-link :hover {
    color: var(--primary) !important;
}

hr {
 margin-top: 0px !important;
 margin-bottom: 0px !important;
 border-top: #686868 2px solid;
}

/*** Button ***/
.btn {
    font-family: 'Montserrat', serif;
    font-weight: 400;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}
.btn-primary{
    background-color: var(--primary);
    color: var(--light);
    border: var(--primary);
}
.btn-primary:hover {
    /* box-shadow: inset 0 0 0 0 var(--dark); */
    background-color: var(--dark);
}

.btn-secondary:hover {
    background-color: var(--primary);
}
.btn-dark:hover {
    background-color: var(--primary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    font-family: 'Montserrat', serif;
    position: relative;
    margin-left: 8px;
    padding: 10px 8px;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    text-decoration: none;
    margin-left: 8px;
    padding: 10px 8px;
    color: var(--dark);
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    text-decoration: none;
    color: var(--light);
    background-color: #F19F1F;
    border-radius: 6px;
}

.navbar-dark .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-dark .navbar-toggler {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.nav-item a {
    color: var(--dark) !important;
}

.dropdown  {
    padding-bottom: 10px !important;
}

.dropdown-menu a.dropdown-item:hover{
    color: var(--primary) !important;
}

video {
    width: 100% !important;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--dark);
    }

    .navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }

    .sticky-top.navbar-dark {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}

.item {
    width: 300px;
    text-align: center !important;
    justify-items: center;
}
p.ivt-text {
    font-size: 12px !important;
}


/*** Carousel ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 30, 62, .7);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}


/*** Service ***/
.service-item {
    position: relative;
    height: 300px;
    padding: 0 30px;
    transition: .5s;
}

.service-item .service-icon {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 2px;
    transform: rotate(-45deg);
}

.service-item .service-icon i {
    transform: rotate(45deg);
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}



/* service pie slice */
/* .ser-slice img:hover {
    transform: scale(1.09);
  } */
.ser-slice, .ser-slice img {
    height: 220px;
}
.slice1 {
    rotate: 180deg;
    position: absolute;
    left: 265px;
    top: 60px;
}
.slice2 {
    rotate: -120deg;
    position: absolute;
    top:0px;

}
.slice3 {
    rotate: 300deg;
    position: absolute;
    top: 110px;
    left: 560px;
}
.slice4 {
    rotate: 60deg;
    position: absolute;
    top: 335px;
    left: 370px;
}
.slice5 {
    rotate: 120deg;
    position: absolute;
    top: 230px;
    left: 235px;
}
.slice6 {
    rotate: 360deg;
    position: absolute;
    top: 280px;
    left: 535px;
}

.titile h5 {
    font-weight: 600;
    width: 100px;
    color: var(--light);
}

.slice1-text{
    rotate: 180deg;
    position: absolute;
    left: 80px;
    top: 60px;
}
.slice2-text {
    rotate: 120deg;
    position: absolute;
    top: 40px;
    left: 90px;

}
.slice3-text {
    rotate: -300deg;
    position: absolute;
    top: 50px;
    right: 60px;
}
.slice4-text {
    rotate: -60deg;
    position: absolute;
    top: 50px;
    right: 60px;

}
.slice5-text {
    rotate: -120deg;
    position: absolute;
    top: 60px;
    right: 70px;
}
.slice6-text {
    z-index: 999;
    rotate: 360deg;
    position: absolute;
    top: 50px;
    left: 80px;
}

/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background: #DDDDDD;
    border-radius: 5px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 10px;
    background: var(--primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px #DDDDDD;
}

.testimonial-msg{
    width: max-content !important;
}


/*** Team ***/
.team-item {
    transition: .5s;
}

.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-social a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.team-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.team-item:hover .team-social {
    background: rgba(9, 30, 62, .7);
}

.team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.team-item .team-img img,
.blog-item .blog-img img  {
    transition: .5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
    transform: scale(1.15);
}

/* /Brands */
.brand-logo {
    align-items: center;
    padding: 20px 30px;
}
.brand-logo img.brand-img {
    width: 120px !important;
}

.column-line {
    /* padding: 0 10px 0 10px; */
    border-right: 0.5px solid #dbdbdb;
}
.row-line {
    border-top: 0.5px solid #dbdbdb;
}



/* Footer */
.footer {
    margin-bottom: 0px !important;
}
.footer-about {
    margin-bottom: 0px;
}


/*** Miscellaneous ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bg-header {
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.link-animated a {
    transition: .5s;
}

.link-animated a:hover {
    padding-left: 5px;
    color: var(--primary) !important;
}

@media (min-width: 767.98px) {
    .footer-about {
        margin-bottom: 0px;
    }
}

/* /Custom */
.bg-primary {
    background-color: #FEFBF5 !important;
}
.btn-outline-light {

    border: #F19F1F;
    box-shadow: inset 0 0 0 0 var(--primary);
}
.text-primary {
    color: var(--primary) !important;
}
a.text-primaryv:hover{
    color: var(--dark) !important;
}

.case-content {
    /* border: #F19F1F 1px solid; */
    max-height: 400px;
    border-radius: 6px;
    box-shadow: inset 0 0 0 0 var(--primary);
}
.case-content .case-content-img{
    margin-right: -30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    max-height: 400px;
}
/* .header-carousel {
    margin-top: 100px;
} */

.getin-touch{
    margin: 5px;
}
.form-input-rounded{
    border-radius: 35px;
    margin: 10px;
    min-height: 45px;
}

.form-rounded {
    padding: 2px;
    border: 0.5px solid #DDDDDD;
    border-radius: 45px !important;
}
.input-form{
    margin-bottom: 5px;

}
.input-form-bg , .input-form-bg:focus{
    background-color: #101010;
}
.input-form-bg:focus{
    border: none !important;
}

.btn-sm{
    size: 10px !important;
}
.box-shadow {
    box-shadow: 2px 2px 4px 2px rgba(246, 187, 68, 0.2), 4px 6px 20px 2px rgba(255, 170, 43, 0.19);
    text-align: center;
    border-radius: 30px;
}
.btn-arrow-icon {
    margin:2px;
}
.input-start-icon {
    padding: 4px 8px 0 8px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-bottom: 40px;
    margin-right: 2px;
    background-color: var(--dark);
  }

  .carousel-indicators li.active {
    background-color: var(--primary);
  }


  /* USP */
  img.ups-img:hover {
    transform: scale(1.15);
  }

    .card {
        border-radius: 20px;
    }

    .active {
      opacity: 1;
      transition: all 0.3s;
    }

    .center {
      opacity: 1;

      .card-img-top {
        max-width: 100%;
        height: 120px;
        width: 120px;
      }
    }


    /* ser-slice.img {
        position: absolute;
        z-index: 1;
        width: 70px;
        offset-path: path('M 500 100 L 350 100');
        offset-rotate: 0.25turn;
        animation: moveImg 5s 3;
      } */

      /* svg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
      } */

